@import url(cssReset.css);

html{
    scroll-behavior: smooth;

}

body{
    
    
    font-family: 'Rubik', sans-serif;
    color: rgba(255, 255, 255, 0.904);
    background-color: #0f1a28;

	/*
	#D08FA6
	#282238
	#344A99
	#5567D3
	#87B3CE
	*/
    padding:0;
    line-height: 1.2em;
	
    font-size:1.5em;
    

}

/*************************/
header{
    width:60%;
    height:10%;
    padding:10px;

	

    margin:0 auto;
    margin-top:15px;
    text-align: center;
}
nav{
    display:flex;
    justify-content: space-between;
    
}

#nameID{
    font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-style: italic;
	margin: 0px 20px 0px 10px;
    font-size: 1.5em;
	color: #eee;
}
#nameID span{
	display:inline-block;
	margin-top:5px; 
	color:#70BDE6;
	font-size: 1.55em;
}

/**************************/
/********underline*********/
/**************************/


.Hoverable {
  position: relative;
  display: inline-block;
  font-size: 36px;
  font-weight: 400;
  text-align: center;

}

.Hoverable,
.Hoverable:hover,
.Hoverable:focus,
.Hoverable:active {
    padding:5px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease all .1s;
    border: #0f1a28 2px solid;


}

.Hoverable::after {
  content: "";
  position: absolute;
}

.spanHover .Hoverable::after  {
    top: 115%;
    height: 2px;
    width: 0%;
    left: 0%;
    background-color: #fe00fe;
      transition: 0.5s ease all .1s;
  }
  
  .spanHover:hover .Hoverable::after {
    width: 100%;
      transition: 0.2s ease all;
  }

.Hoverable:focus{
    
    
    border:#70bde68e 2px solid;
}
/*************************/

/*************************/
/********main part********/
/*************************/

main{
    margin:30px 10% 5% 10%;
    display:flex;
}
#aboutMe h1{
    text-align: right;
}
#aboutMe{
	width: 65%;
    text-align: left;
	
}
#Projects{
	float:right;
	text-align:left;

}
.articles{
	width:65%;
	text-align: right;

	padding:10px;

	margin:10px;

	border: #70bde669 solid 2px;
	border-radius: 10px;

	transition: all 0.15s ease;
}
.articles:hover{
	border: #70bde6a2 solid 2px;

}


.articles p{
	padding:10px;

}


.articles h1{
	font-family: 'Montserrat', sans-serif;
	font-weight:800;
	color:#D600D6;
	font-size: 2em;
	padding: 10px 10px 25px 10px;


}

main a:visited, main a:link, footer a:visited, footer a:link{
	color:#d600d6d7;
	transition:all ease 0.2s;
}
main a:hover, footer a:hover{
	color:#d600d6;
}

.articles h2{

	padding:10px;
	font-family: 'Montserrat',sans-serif;
	
	font-weight:700;
	color:#70BDE6;
	font-size:1.5em;

}

.articles section{
	border: #70bde669 solid 2px;
	border-radius:10px;
	margin: 10px 7px;
	transition: all 0.3s ease;

}
.articles section:hover{
	border: #d600d6d5 solid 2px;
	
	
}
.meContainer{
    
    margin-top: 5px;
    margin-right:10px;
    
    display:flex;
    text-align: right;

}
.meContaner > * {
    display:block;
}
.meContainer div {
    max-width: 50%;
}
.me{
    width: 50%;
    min-width: 10%;
    border-radius: 10%;
    margin: 10px;
    float:right;
    
    border:#70bde669 solid 3px;
    transition: all 0.3s ease;
}
.me:hover{
    
    border:#d600d6d5 solid 3px;
}

ul{
	margin-left:25px;
	padding:10px;
	list-style-type: disc;

}
cite{
    font-style: italic;
    color:#70bde6;
}
#quote{
    text-align: center;
}
#middle{
    font-size:3em;
    color:white;

    
    margin: 0;
    position: absolute;              
    top: 50%; 
    left:50%;                        
    transform: translate(-50%, -50%);

    border-radius: 50%;
}
#middle span{
    background-color: #D08FA6;
    padding:10px;
    border-radius: 10%;
    box-shadow: 10px;
}

footer{
    font-size: 0.8em;
    text-align: center;
    padding-bottom: 20px;
}
.contact textarea{
    border: #d600d6d5 solid 2px;
    border-radius:10px;
    background-color: hsl(214, 45%, 70%);

    resize: none;
    box-sizing: border-box;
    padding:10px;
    margin-top: 5px;
    width:100%;
    margin-bottom: 10px;
}
.contact form{
    padding:20px;
    
}
.contact input{
    border: #70bde669 solid 2px;
    background-color: hsl(214, 45%, 50%);
    border-radius:10px;
    height:40px;
    box-sizing: border-box;
    width:100%;
    margin:0 auto;
    padding:2px 5px;
    transition: all 0.3s ease;
    
}

.contact input:active{
    background-color: #70BDE6;
}
.contact{
    
    border: #70bde669 solid 2px;
	border-radius:10px;
	margin: 0 auto;
    width: 25%;
	transition: all 0.3s ease;
}
.contact:hover{
    border: #70bde6a2 solid 2px;
}
.factElement{
    border: #70bde669 solid 2px;
    border-radius: 10px;
    margin-bottom:5px;
}
#stuff{
    max-width: 70%;
    margin: 20px auto;
    text-align: center;
    flex-direction: column;
}
#stuffList{
    margin: 10px auto;

}
#stuff ul{
    margin: 5px;
}
/*************************/
/********media queries****/
/*************************/

@media only screen and (max-width: 600px) {
    body{
        font-size: 1em;
    }
    .spanHover{
        display:none;
    }
    #nameID{
        text-align: center;
        margin:0;
        font-size: 1.3em;
    }
    #nameID span{
        font-size: 1.5em;
    }
    nav{
        display:block;  
        width:100%;
        margin:0 auto;
    }
    main{
        margin:10px 5% 10px 5%;
        display:flex;
        flex-direction: column;
    }
    .articles h1{
        text-align: right;
        line-height: 50px;
        padding:0px;
        padding-bottom:5px;
        
    }
    .articles, #aboutMe{
        margin:0 0 10px 0;
        width:90%;
        text-align: left;
        float:none;
    }

    .meContainer{
        text-align: center;
        flex-direction: column;
        width:80%;
        margin: 0 auto;
    }
    .me{
        
        width:80%;
        margin: 0 auto;
    }
    .meContainer div {
        max-width: 100%;
    }

    header{
        text-align: center;
        width:90%;
        margin:0 auto;
    }
    .contact{
    
        width: 100%;
        
    }
    #stuff{
        max-width: 80%;
    }
  }