@import "start.css";
body div{
    color:white;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3em;
    height:100%;
    margin:auto;
    text-align: center;
}
#mainblock{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-content: center;
    vertical-align: middle;
    margin:auto;
    background: #111; /*rgb(175, 57, 157)*/
    padding: 20px;
    margin-top: 1%;
    width: 80%;
}
#infoflex{
    background-color: rgb(175, 57, 157);
    width: 100%;
    padding: 20px;
    border: 5px solid #111;
}
#listflex{
    background: #724E99;
    width:100%;
    padding:20px;
    border: 5px solid #111;
}
#listflex hr{

    width: 80%;
    border-color: #1111114f;
    margin-top: 10px;
    margin-bottom: -10px;
}
#findflex{
    width: 100%;
    margin: auto;
    align-content: center;
    text-align: center;
    background: #C29F29;
    padding:20px;
    border:5px solid #111; 
}
#list{
    text-align: left;
    line-height: 2em;
}
img{
    height: 60vh;
    margin:auto;
    margin-top:10vh;
}
@media only screen and (max-width: 1000px){
    body div{
        font-size: 1em;
    }
    #mainblock{
        margin-left:-1px;
        text-align: left;
    }
}