@import "index.css";
main {
    color: white;
    display: grid;
    padding: 60px 0px 0px 6px;
    text-align: left;
}

html {
    scroll-behavior: smooth;
    align-content: center;
    text-align: center;
  }
#main hr{
    width: 80%;
    border-color: #1111114f;
    margin-top: 5px;
    margin-bottom: 5px;
}
body{
    height: 100%;
    background:#111;
    overflow: hidden;
    overflow-y: visible;
}

.topgrid1 {
    display: flex;
    transition-duration: 0.4s;
    visibility: visible;
    float:left;
}
#navbar{
    display: inline-flex;
    flex-direction: row;
    flex-flow: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    vertical-align: baseline;
    margin: auto;
    float:right;
    flex: 1;
}
#navwrapper{
    width: 100%;
    background: #111; 
    height: 80px;
    vertical-align: baselinе;
}
.navbarlogo{
    width: 70%;
    text-align: left;
    padding-right: 10%;
    margin-top: 15%;
    align-self: center;
}
.registerdiv{
    width: 30%;
    align-self: flex-end;
    vertical-align: baseline;
    margin: 0;
    padding: 0;

}
.navlink0{
    color: white;
    text-decoration: none;
    margin-right: 1fr;
    height: 39px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    margin-top: 40px;
    white-space: pre-wrap;
    overflow: hidden;
    font-size: 150%;
    grid-row-end: 2;
}
.navlink0:hover{
    background-color: #7240A8;
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 1fr;
    
    transition-duration: 3ms;

}
.navlink1{
    color: white;
    text-decoration: none;
    margin-right: 1fr;
    height: 39px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    grid-row-start: 1;
    margin-top: 40px;
    white-space: pre-wrap;
    overflow: hidden;
    font-size: 150%;
    grid-row-end: 2;
    transition-duration: 4ms;
}
.emptyspc{
    grid-row-start:2;
    grid-row-start:3;
}
.navlink1:hover{
    background-color: #7240A8;
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 1fr;
    
    transition-duration: 3ms;
}
.navlink2{
    color: white;
    text-decoration: none;
    margin-right: 1fr;
    height: 10px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 150%;
    margin-top: 10px;
    grid-row-start: 1;
    white-space: pre-wrap;
    overflow: hidden;
    grid-row-end: 2;
    transition-duration: 4ms;
}
.navlink2:hover{

    background-color: #7240A8;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 1fr;
    transition-duration: 3ms;
}
.navlink3{
    color: white;
    text-decoration: none;
    height: 39px;
    font-size: 150%;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    text-align: right;
    white-space: pre-wrap;
    align-self: flex-end;
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    vertical-align: baseline;
    transition-duration: 4ms;
    float: right;

}
.navlink3:hover{

    background-color: #7240A8;
    margin-right: 1fr;
    border-radius: 5px;
    margin-top: 10px;
    transition-duration: 3ms;
}
.navlink4{
    color: white;
    text-decoration: none;
    height: 39px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 150%;
    white-space: pre-wrap;
    align-self: flex-end;
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    transition-duration: 4ms;
    float: right;
}
.navlink4:hover{

    background-color: #7240A8;
    margin: 0px;
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    transition-duration: 3ms;
}

.logogrid{
    padding-top: 10%;
    vertical-align: baseline;
    width: 10vmax;
}
#navbar ul{
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
    
}


@media only screen and (max-width: 768px){
    #navbar{
        grid-auto-rows: auto;
        display: flex;
        height: 80px;
    }
    .topgrid1{
        padding-top: 10px;
        padding-right: 2em;
        text-align: center;
        vertical-align: bottom;
        visibility: visible;
        align-self: baseline;
        order: 1;
    }
    
    .registerdiv{
        width:0;
        order: 1;
    }
    .logogrid{
        height: auto;
        top: 0px;
        width: 150px;
        max-width: 90%;
        right: 50%;
        margin-right: 40px;
        align-self: flex-start;
        text-align: center;
    }
    .topgrid3{
        visibility: visible;
    }
    .topgrid1text{
        visibility: hidden;
    }
    #navbar .navlink0{
        visibility: hidden;
    }
    #navbar .navlink1{
        visibility: hidden;
    }
    #navbar .navlink2{
        visibility: hidden;
    }
    #navbar .navlink3{
        visibility: hidden;
    }
    #navbar .navlink4{
        visibility: hidden;
        width: 0;   
    }
    .navbarlogo{
        background-color: #111;
        width: 30%;
        text-align:center;
        vertical-align: bottom;
        margin-top: 1px;
    }
    
}

.sidelines{
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.699);
    visibility: hidden;
    float: left;
}
.sidelines:hover{
    color: #724E99;
    transition-duration:  0.2s;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 4px 8px 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    white-space: pre-line;
    overflow: auto;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    z-index: 2;
    background-color: #111;
    margin-left: 50px;
    padding: 300px
  }
  
  @media screen and (max-height: 450px) {
 
    .sidenav {padding-top: 15px; }
    .sidenav a {font-size: 18px;}
  }
#Bborder{
    text-align: middle;
    align-content: center;
    background-color: #111;
    height:100%;
}
#main{
    display:grid;
    width: 95%;
    height: 95%;
    margin-top: -1px;
    margin-left: -1px;
    color: white;
    background: #111;
    border: thin;
    border-color: #111;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    row-gap: 10px;
    column-gap: 10px;
    font-size: 1.5em;
    grid-template-columns: 25% 35%;
}

#play{
    color: white;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    /*background-color: white;*/
    border-radius: 0px;
    background: #C29F29;

   /* background: linear-gradient(180deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.5) 100%);*/
}
#play p span{
    color:rgba(255, 255, 255, 0.795)
}
#play h1{
    margin-top: 20px;
    margin-bottom: 5px;
    color:rgba(17, 17, 17, 0.795)
}
#play p{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

#playButton .button{
    padding: 20px 50px ;
    color: white;
    font-size: 1em;
    border-radius: 3px;
    background: #111;
}
#playButton .button:hover{
    background: #7241A6;
    color:white;
}
#playButton .button:active{
    background: #241337;
}

#h2p{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background: rgb(175, 57, 157);
    color: white;
    transition-duration: 4ms;
}

#h2p h1{
    margin-top: 20px;
    margin-bottom: 5px;
    color:rgba(17, 17, 17, 0.795)
}
#h2p p{

    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
#us{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #7241A6;
    background: #724E99;
    color: white;
}
#us h1{
    margin-top: 20px;
    margin-bottom: 5px;
    color:rgba(17, 17, 17, 0.808)
}
#us p{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

#how{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    line-height: 1.4em;
    background-color: white;
    background: #9BBA27;
    color: white;
}

#how p{
    text-align: right;
}


#how h1{
    color:rgba(17, 17, 17, 0.795);
    margin-bottom: px;
   
    margin-top: 20px;
}

#how p{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}


@media only screen and (max-width: 1000px){


    #navlink0{
        margin-right: 10px;
    }
    #navlink1{
        margin-right: 10px;
    }
    #navlink2{
        margin-right: 10px;
    }

    #navlink3{
        margin-right: 10px;
    }   
    #navlink4{
        margin-right: 10px;
    }
    #BBorder{
        height:110%;
    }
    main{
        height:110%;
    }


}

@media only screen and (max-width: 768px){
    #main{
        display:flex;
        flex-direction: column;
        font-size: 1em;
        column-gap: 0px;
        row-gap: 5px;
        width: 95.5vw;
    }
    .sidelines{
        visibility: visible;
    }
    #play{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #h2p{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #us{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #how{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    
}

#h2p .button:hover{
    color: white;
}

#main .button:hover{
    color: white;
}

#h2p .button {
    font-size: 1em;
    padding: 15px 32px;
    color: white;
}

#contact {
    height: 100%;
    margin-top: -1px;
    padding-top: 100px;
    padding-bottom: 30px;
    background: #111;
    box-shadow: 5px 5px #9C69D2;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 1.3em;
}

#contact a{
    color: rgba(255, 255, 255, 0.699);
}

.footerlogo{
    width: 10vw;
    
    margin: auto;  
    margin-top: -30px;
}

#contact p{
    margin-top: -20px;
    margin-bottom: -30px;
}
@media only screen and (max-width: 768px){
    .footerlogopic{
        width: 100em;
    }
    .footerlogo{
        width: 30%;
    }
}
